* {
	outline: 1px solid red;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.bar {
	width: 100%;
	height: 10%;
	float: left;
	background: #333333;
}

.top-link {
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	color: #fff;
}

.main__body {
	width: 100%;
	height: 80%;
	float: left;
	padding: 5%;
	box-sizing: border-box;
}

.column {
	width: 50%;
	height:	100%;
	float: left;
}